.ct-chart {
  color: #1e2a9c;
}

.ct-series {
  fill: transparent;
}

.ct-series-a {
  stroke: #1e2a9c;
}

.ct-series-b {
  stroke: #f80809;
}

.ct-series-c {
  stroke: green;
}

.ct-series-d {
  stroke: grey;
}

.ct-series-e {
  stroke: black;
}

body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

a,
a:hover,
a:focus {
  color: #1e2a9c;
}

@media (max-width: 991px) {
  body,
  html {
    position: relative;
    overflow-x: hidden;
  }

  #bodyClick {
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0;
    top: 0;
    left: auto;
    right: 260px;
    content: "";
    z-index: 9999;
    overflow-x: hidden;
  }
}

@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto-Regular"),
    url(./../fonts/Roboto-Regular.woff) format("woff");
}
